@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

.material-icons {
  transition: transform 0.2s ease;
  font-size: 20px; 
  vertical-align: middle; 
}

a:hover .material-icons {
  transform: translateX(2px);
}
